body{
    background-color: aliceblue;
    margin: 20px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    
}
img{
    width: 20rem;
    height: 20rem;
}
h1{
    font-size: 30px;
}